.card {
  width: 375px;
  height: 425px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 5px;

  // Elements
  &__container {
    display: flex;
    flex-wrap: wrap;

    & > .card {
      margin-left: 20px
    }

    & > .card + .card {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }
  &__header {
    margin-bottom: 5px; 
    display: flex;
￼   align-items: baseline;
￼   justify-content: space-between;
    a {
      font-size: 1.3em;
      color: #7b8aaf;
      text-decoration: none;
    }
    a:hover {
      color: #f149a3;
    }
  }  
  &__date {
    font-family: serif;
    font-size: .9em;
    font-weight: bold;
    color: #f149a3;
  }  
  
  &__content {
  }
}