.card {
  width: 275px;
  height: 175px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 5px;

  // Elements
  &__container {
    display: flex;
    flex-wrap: wrap;

    & > .card + .card {
      margin-left: 20px;
    }
  }
  &__header {}
  &__content {}
}