.fullpage {
    
    width: 800px;
    // top right bottom left
    padding: 10px 60px;

    // Elements
    &__title {
        h3 {
            margin-bottom: 2px;
            font-size: 2.5em;
            color: #f149a3;
            line-height: 1.4em;
        }    
    }
    &__date {
        h4 {
            margin-bottom: 4px;
            font-size: 1.4em;
            font-style: italic;
        }      
    }
    &__content {
        p {
            font-family: serif;
            line-height: 1.4em;
            margin-bottom: 5px;
            a {
                color: #7b8aaf;
                text-decoration: none;
            }
            a:hover {
                color: #f149a3;
            }
        }
        blockquote {
            margin: 0 0 7px 7px;
            padding-left: 10px;
            border-left: 2px solid #f149a3;
            p {
                font-family: serif;
                font-style: italic;
                strong {
                    font-style: normal;
                    font-weight: normal;
                }
            }
            h4 {
                margin: 0 0 15px 5px;
                line-height: 1.4em;
                font-family: serif;
                font-weight: normal;
                a {
                  color: #7b8aaf;
                  text-decoration: none;
                }
                a:hover {
                  color: #f149a3;
                }
            } 
        }
        h3 {
            padding-top: 10px;
            margin-bottom: 2px;
            font-size: 1.3em;
            color: #1a44ad;
        } 
    }

//     ul {

//     }
//     li {

//     }
//   }
}