.post {

  // Elements
  &__excerpt {
    h3 {

    }
    p {

    }
    blockquote {
      margin: 0 0 5px 5px;
      padding-left: 5px;
      border-left: 2px solid #f149a3;
      p {

      }
    }
    ul {

    }
    li {

    }
  }
}